<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cg.citymanage">

    <!-- 允许程序访问有关GSM网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序写入外部存储，如SD卡上写文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序读取外部存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- GIS 天地图使用 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 录音，麦克风 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".untils.myApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/startTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TextActivity" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.tianditu.apikey"
            android:value="035972404fa9af81e3d3494f1dd712a3" />
        <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="gPQwoaWS22rnPBIZf3zopGP9hMoNAdwB" />

        <!-- 自动更新 权限 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".SoundRecordingActivity" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EventReportActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventOverviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventOverviewListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventOverviewDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventPicViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventTransmitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventTransmitDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventPartakeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventPartakeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventImpatientActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventImpatientDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventWaitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventWaitDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventCirculatedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventCirculateDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InformationDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InformationReplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventWaitSubmitActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InformationOtherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PartStatisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PartStatisticsSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PartsAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MailListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClockInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClockInSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrackRecordActivity"
            android:screenOrientation="portrait" />

        <service android:name=".services.TrackService" />
        <service
            android:name=".services.tempService"
            android:process=":remote" />

        <activity android:name=".tempMapActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".TrackSearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PersonalSettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".UpdatePwdActivity"
            android:screenOrientation="portrait"></activity>

        <receiver
            android:name=".BroadcastReceivers.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>

                <!-- <action android:name="cn.jpush.android.intent.REGISTRATION" /> &lt;!&ndash;Required  用户注册SDK的intent&ndash;&gt; -->
                 <!--<action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> &lt;!&ndash;Required  用户接收SDK消息的intent&ndash;&gt;-->
                 <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> &lt;!&ndash;Required  用户接收SDK通知栏信息的intent&ndash;&gt;-->
                <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> &lt;!&ndash;Required  用户打开自定义通知栏的intent&ndash;&gt; -->
                <!-- <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> &lt;!&ndash;Optional 用户接受Rich Push Javascript 回调函数的intent&ndash;&gt; -->
                <!-- <action android:name="cn.jpush.android.intent.CONNECTION" />&lt;!&ndash; 接收网络变化 连接/断开 since 1.6.3 &ndash;&gt; -->
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.cg.citymanage" /> <!-- name为当前项目的包名 -->
            </intent-filter>
        </receiver>

        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name=".BroadcastReceivers.myCustomReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.cg.citymanage" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.jpService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
    </application>

</manifest>